
.el-button{
    background-color: $btn-background-color;
    border-color: $imp-text-color;
    color: $imp-text-color;

    &:hover{
        background-color: $btn-background-color;
        border-color: $imp-text-color;
        color: $imp-text-color;
    }
}


.el-tabs__active-bar {
    background-color: $imp-text-color;
}

.el-tabs__item {
    color:  white;

    &:hover{
        color: $imp-text-color;
    }

    &.is-active {
        background-color: $tab-hover-background-color;
        color: $imp-text-color;
    }
}




