
.el-button{
    background-color: $btn-background-color;
    border-color: $imp-text-color;
    color: $imp-text-color;

    &:hover{
        background-color: $btn-background-color;
        border-color: $imp-text-color;
        color: $imp-text-color;
    }
}

/*    */
.el-timeline {
    font-size: $normal-font-size;
}

.el-timeline-item__wrapper{
    padding-left: 40px
}

.el-timeline-item__content {
    color: $white-text-color;
}

.el-timeline-item__timestamp {
    font-size: 14px;
}


// .el-card {
//     height: 50px;
//     background-color: $tab-hover-background-color;
//     color: $white-text-color;
//     border: 1px solid $imp-text-color;
//     padding: 10px;
// }
// .el-card__body {
    
// }


.el-col {
    margin: 10px 0px;
}


// .el-tabs__active-bar {
//     background-color: $imp-text-color;
// }

// .el-tabs__item {
//     color:  white;
//     height: 50px;
//     line-height: 50px;
 
//     &:hover{
//         color: $imp-text-color;
//     }

//     &.is-active {
//         background-color: $tab-hover-background-color;
//         color: $imp-text-color;
//     }
// }


