$imp-text-color: #ffa4ff;

$white-text-color: white;

$main-background-color: rgba(12, 8, 24, 0.9);

$btn-background-color: rgba(46, 27, 102, 0.9);

$hover-background-color: rgb(212, 182, 240);

$tab-hover-background-color: rgba(65, 36, 92, 0.4);

$normal-font-size: 18px;

$blue-tab-hover-background-color: rgba(25, 57, 145, 0.5);

