$imp-text-color: #ffa4ff;

$white-text-color: white;

$main-background-color: rgba(12, 8, 24, 0.904);

$btn-background-color: rgba(46, 27, 102, 0.904);

$hover-background-color: rgb(212, 182, 240);

$tab-hover-background-color: rgba(65, 36, 92, 0.37);

$normal-font-size: 18px;